@import "/src/viewport.scss";

//styling for header containers
.container {
  max-width: var(--mx-width, 1200px);
  padding: 0 var(--gutter, 15px);
  margin: 0 auto;
}

.inner-header {
  line-height: 80px;
}

.inner-header :where(.wrap, .menu > ul),
.list-inline > ul {
  display: flex;
  align-items: center;
}

.header-left,
.header-right {
  flex-grow: 1;
}

.header-center nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 180px;
  max-width: 720px;
}

.header-center .branding {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.header-center .branding a {
  font-family: var(--second-font);
  font-size: 30px;
  line-height: inherit;
  pointer-events: auto;
}

.header-center .menu > ul > li > a {
  font-size: var(--fs14);
  font-weight: var(--fw600);
  text-transform: uppercase;
  padding: 0 15px;
}

.header-right ul {
  justify-content: flex-end;
}

.list-inline a {
  position: relative;
  font-size: 24px;
  padding: 0 10px;
  line-height: 1;
  display: flex;
  // transition: var(--transition-color);
}

.list-inline a:hover {
  color: var(--light-color);
}

.menu-trigger {
  @include md {
    display: none;
  }
}
